<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{if hasmath}} {{insert head_katex.html }}     {{end}}
  {{if hascode}} {{insert head_highlight.html }}   {{end}}
  {{ifdef asciinema}}<link rel="stylesheet" href="/libs/asciinema/asciinema-player.css" type="text/css"/>{{end}}
  {{ifdef asciinema}}<script src="/libs/asciinema/asciinema-player.min.js"></script>{{end}}
  {{insert style.html}}
  {{isdef title}} <title>{{fill title}}</title>  {{end}}
</head>
<body>
{{insert sidebar.html}}
<!-- Content appended here -->
